@model BLL.App.DTO.TrainingDay

<h4>TrainingDay</h4>
<hr/>
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.TrainingWeek)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.TrainingWeek!.WeekNumber)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.TrainingDayType)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.TrainingDayType!.Name)
    </dd>
</dl>