@model WebApplication.Areas.Admin.ViewModels.TrainingDayCreateEditViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TrainingDay</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <partial name="_CreateEditPartial"/>
        </form>
    </div>
</div>

<div>
    <a asp-action="View" asp-route-id="@Model.TrainingDay.TrainingWeekId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
