@model WebApplication.Areas.Admin.ViewModels.TrainingDayCreateEditViewModel

@{
    ViewData["Title"] = "Create";
}
<div class="jumbotron shadow rounded text-center">
    
    <h3 class="text-uppercase">Create a new training day</h3>
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-4 d-flex">
            <form asp-action="Create">
                <partial name="_CreateEditPartial"/>
            </form>
        </div>
    </div>
    <hr/>
    <div>
        <a class="text-uppercase" asp-controller="TrainingWeeks" asp-action="Index" asp-route-id="@Model.WorkoutRoutineId">Back to List</a>
    </div>

</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
