@model DailyNutritionIntakeCreateEditViewModel

        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DailyNutritionIntake.Calories" class="control-label"></label>
                <input asp-for="DailyNutritionIntake.Calories" class="form-control" />
                <span asp-validation-for="DailyNutritionIntake.Calories" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DailyNutritionIntake.Protein" class="control-label"></label>
                <input asp-for="DailyNutritionIntake.Protein" class="form-control" />
                <span asp-validation-for="DailyNutritionIntake.Protein" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DailyNutritionIntake.Fats" class="control-label"></label>
                <input asp-for="DailyNutritionIntake.Fats" class="form-control" />
                <span asp-validation-for="DailyNutritionIntake.Fats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DailyNutritionIntake.Carbohydrates" class="control-label"></label>
                <input asp-for="DailyNutritionIntake.Carbohydrates" class="form-control" />
                <span asp-validation-for="DailyNutritionIntake.Carbohydrates" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DailyNutritionIntake.UnitType" class="control-label"></label>
                <select asp-for="DailyNutritionIntake.UnitTypeId" class ="form-control" asp-items="@Model.UnitTypeSelectList"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="@Resources.Views.DailyNutritionIntakes._CreateEditPartial.Submit;" class="btn btn-primary" />
            </div>
        </form>
    