@model Domain.DailyNutritionIntake

@{
    ViewData["Title"] = "Delete";
}

<h1>@Resources.Views.DailyNutritionIntakes.Delete.Title</h1>

<h3>@Resources.Views.DailyNutritionIntakes.Delete.DeleteConfirmation</h3>
<div>
    <partial name="_DetailsDeletePartial"/>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">@Resources.Views.DailyNutritionIntakes.Delete.BackToList</a>
    </form>
</div>
