@model DailyNutritionIntakeCreateEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>@Resources.Views.DailyNutritionIntakes.Edit.Title</h1>

<h4>@Resources.Views.DailyNutritionIntakes.Edit.DailyNutritionIntake</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="DailyNutritionIntake.Id" />
            <partial name="_CreateEditPartial"/>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Resources.Views.DailyNutritionIntakes.Create.BackToList</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
