﻿﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron shadow rounded">
    <p class="display-4 text-uppercase">Welcome to</p>  
    <h3> 5/3/1 planner admin area!</h3>
    <hr/>
    <h3>What is this?</h3>
    <p>This is the admin area for the 5/3/1 planner web application <br/>
        Here you can create, edit and view different workout routines as well as manage user
        accounts. <br/> Use the links in the navigation bar to get you started!</p>
    <h3>What is 5/3/1?</h3>
    <p>5/3/1 is one of the most popular non-linear strength training routine templates developed by 
        <a href="https://jimwendler.com/">Jim Wendler</a>. <br/> This application aims help users to generate
        and customise 5/3/1 routines comfortably, <br/> as well as track their path to <b>maximum strength and size</b>.
    </p>
</div>