@model BodyMeasurementCreateEditViewModel

<div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="BodyMeasurements.Weight" class="control-label"></label>
            <input asp-for="BodyMeasurements.Weight" class="form-control" />
            <span asp-validation-for="BodyMeasurements.Weight" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="BodyMeasurements.Height" class="control-label"></label>
            <input asp-for="BodyMeasurements.Height" class="form-control" />
            <span asp-validation-for="BodyMeasurements.Height" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="BodyMeasurements.Chest" class="control-label"></label>
            <input asp-for="BodyMeasurements.Chest" class="form-control" />
            <span asp-validation-for="BodyMeasurements.Chest" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="BodyMeasurements.Waist" class="control-label"></label>
            <input asp-for="BodyMeasurements.Waist" class="form-control" />
            <span asp-validation-for="BodyMeasurements.Waist" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="BodyMeasurements.Hip" class="control-label"></label>
            <input asp-for="BodyMeasurements.Hip" class="form-control" />
            <span asp-validation-for="BodyMeasurements.Hip" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="BodyMeasurements.Arm" class="control-label"></label>
            <input asp-for="BodyMeasurements.Arm" class="form-control" />
            <span asp-validation-for="BodyMeasurements.Arm" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="BodyMeasurements.BodyFatPercentage" class="control-label"></label>
            <input asp-for="BodyMeasurements" class="form-control" />
            <span asp-validation-for="BodyMeasurements" class="text-danger"></span>
        </div>
       
        <div class="form-group">
            <label asp-for="BodyMeasurements.UnitsTypeId" class="control-label"></label>
            <select asp-for="BodyMeasurements.UnitsTypeId" class="form-control" asp-items="@Model.UnitTypeSelectList"></select>
            <span asp-validation-for="BodyMeasurements.UnitsTypeId" class="text-danger"></span>
        </div>

<div class="form-group">
    <input type="submit" value="Create" class="btn btn-primary" />
</div>
