@model BodyMeasurementCreateEditViewModel

<div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="BodyMeasurement.Weight" class="control-label"></label>
            <input asp-for="BodyMeasurement.Weight" class="form-control" />
            <span asp-validation-for="BodyMeasurement.Weight" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="BodyMeasurement.Height" class="control-label"></label>
            <input asp-for="BodyMeasurement.Height" class="form-control" />
            <span asp-validation-for="BodyMeasurement.Height" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="BodyMeasurement.Chest" class="control-label"></label>
            <input asp-for="BodyMeasurement.Chest" class="form-control" />
            <span asp-validation-for="BodyMeasurement.Chest" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="BodyMeasurement.Waist" class="control-label"></label>
            <input asp-for="BodyMeasurement.Waist" class="form-control" />
            <span asp-validation-for="BodyMeasurement.Waist" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="BodyMeasurement.Hip" class="control-label"></label>
            <input asp-for="BodyMeasurement.Hip" class="form-control" />
            <span asp-validation-for="BodyMeasurement.Hip" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="BodyMeasurement.Arm" class="control-label"></label>
            <input asp-for="BodyMeasurement.Arm" class="form-control" />
            <span asp-validation-for="BodyMeasurement.Arm" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="BodyMeasurement.BodyFatPercentage" class="control-label"></label>
            <input asp-for="BodyMeasurement.BodyFatPercentage" class="form-control" />
            <span asp-validation-for="BodyMeasurement" class="text-danger"></span>
        </div>
       
        <div class="form-group">
            <label asp-for="BodyMeasurement.UnitTypeId" class="control-label"></label>
            <select asp-for="BodyMeasurement.UnitTypeId" class="form-control" asp-items="@Model.UnitTypeSelectList"></select>
            <span asp-validation-for="BodyMeasurement.UnitTypeId" class="text-danger"></span>
        </div>

<div class="form-group">
    <input type="submit" value="Create" class="btn btn-primary" />
</div>
