<ul class="navbar-nav">
    <li>
        <a class="nav-link text-dark" asp-area="Admin" asp-route="/" title="Manage">Accounts<span class="caret"></span></a>
    </li>
    <li>
        <a class="nav-link text-dark" asp-area="Admin" asp-route="/" title="Manage">Content</a>
    </li>
</ul>