@model WebApplication.Areas.Admin.ViewModels.TrainingWeekViewModel

<form asp-action="Create" xmlns="http://www.w3.org/1999/html">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="WorkoutRoutineId" value="@Model.WorkoutRoutineId"/>
    <div class="form-group">
        <input type="submit" class="btn btn-outline-success" value="ADD NEW WEEK">
    </div>
</form>
