@model WebApplication.Areas.Admin.ViewModels.TrainingWeekViewModel
<h4>TrainingWeek</h4>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.TrainingWeek.WeekNumber)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.TrainingWeek.WeekNumber)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.TrainingWeek.IsDeload)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.TrainingWeek.IsDeload)
    </dd>
</dl>
