@model WebApplication.Areas.Admin.ViewModels.TrainingWeekNumberEditViewModel

<form asp-action="IncrementWeekNumber">
    <input type="hidden" asp-for="@Model.TrainingWeekId"/>
    <input type="hidden" asp-for="@Model.WorkoutRoutineId"/>
    <button type="submit" title="Move week down" class="btn btn-link py-0 px-1 move-arrow"><i class="fas fa-arrow-down"></i></button>
</form>
