@model WebApplication.Areas.Admin.ViewModels.TrainingWeekNumberEditViewModel


<form asp-action="DecrementWeekNumber">
    <input type="hidden" asp-for="@Model.TrainingWeekId"/>
    <input type="hidden" asp-for="@Model.WorkoutRoutineId"/>
    <button type="submit" title="Move week up" class="btn btn-link p-0 px-1 move-arrow"><i class="fas fa-arrow-up"></i></button>
</form>

