<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret">Select controller</span>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="/bodymeasurements">Body measurements</a>
    <a class="dropdown-item" href="/dailynutritionintakes">Daily nutrition intakes</a>
    <a class="dropdown-item" href="/exercises">Exercises</a>
    <a class="dropdown-item" href="/exercisetypes">Exercise types</a>
    <a class="dropdown-item" href="/muscles">Muscles</a>
    <a class="dropdown-item" href="/musclegroups">Muscle groups</a>
    <a class="dropdown-item" href="/performedexercises">User performed exercises</a>
    <a class="dropdown-item" href="/routinetypes">Routine types</a>
    <a class="dropdown-item" href="/trainingcycles">Training cycles</a>
    <a class="dropdown-item" href="/trainingdays">Training days</a>
    <a class="dropdown-item" href="/trainingdaytypes">Training day types</a>
    <a class="dropdown-item" href="/trainingweeks">Training weeks</a>
    <a class="dropdown-item" href="/unittypes">Unit types</a>
    <a class="dropdown-item" href="/workoutroutines">Workout routines</a>
  </div>
</div>