@model WebApplication.Areas.Admin.ViewModels.AppUsersViewModel

<a data-toggle="modal" title="Lock user's account" data-target="#modal-lock-@Model.UserName" asp-action="LockUser">
    <i class="fa fa-lock text-danger mx-1" aria-hidden="true"></i>
</a>

<div class="modal fade" id="modal-lock-@Model.UserName" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center text-danger" id="deleteModalLabel">Are you sure you wish to lock this users account?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Username: @Model.UserName</h5>
                <h5>Email: @Model.Email</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                <form asp-action="LockUser">
                    <input type="hidden" asp-for="@Model.UserName"/>
                    <input type="hidden" name="returnUrl" value="@Context.Request.Path@Context.Request.QueryString"/>
                    <button type="submit" class="text-uppercase btn btn-danger">Lock user</button>
                </form>
            </div>
        </div>
    </div>
</div>