@model WebApplication.Areas.Admin.ViewModels.AppUserSearchViewModel


<form method="get">
    <div class="form-row">
        <input class="form-control col-2" asp-for="SearchString" placeholder="Search..." aria-label="Search">
    </div>
    <div class="form-row">
        <label></label>
        <input asp-for="IncludeInactive">
    </div>
    <div class="form-row">
        <label for="selectedRoles"></label>
        <select asp-for="SelectedRoles" id="selectedRoles"></select>
    </div>
    
    <button type="submit" class="btn-primary">Search</button>
</form>
