<form>
    <h3>Are you sure you wish to lock this users account?</h3>
    <div class="form-row">
        <button class="btn btn-success" asp-action="Index">No</button> | <a class="btn btn-primary" asp-action="LockUser" asp-route-userName="">Yes</a>
    </div>
</form>
