@model WebApplication.Areas.Admin.ViewModels.AppUserDetailsViewModel

<div class="jumbotron pb-3 shadow rounded">
    <h1 class="text-uppercase mb-4">AppUser information</h1>
    <hr />
        <partial name="_DetailsLockPartial"/>
    <hr/>
    <div class="text-uppercase mt-3 mb-1">
        <a asp-action="ManageUser" asp-route-id="@Model.UserName">Manage user</a> |
        <a asp-action="Index">Back to List</a>
    </div>

</div>
