@model Domain.Muscle

@{
    ViewData["Title"] = "Delete";
}

<h1>Resources.Views.Muscle.Delete.Title</h1>

<h3>Resources.Views.Muscle.Delete.Confirmation</h3>
<div>
    
    <partial name="_DetailsDeletePartial"/>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Resources.Views.Muscle._CreateEditPartial.BackToList</a>
    </form>
</div>
