@model Domain.Muscle

@{
    ViewData["Title"] = "Details";
}

<h1>Resources.Views.Muscle.Details.Title</h1>

<div>
    <partial name="_CreateEditPartial"/>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Resources.Views.Muscle.Details.Edit</a> |
    <a asp-action="Index">Resources.Views.Muscle.Details.BackToList</a>
</div>
