<ul class="navbar-nav">
    <li class="nav-item">
    <a class="navbar-brand" id="navbarAdminArea" aria-haspopup="true" aria-expanded="false"
       asp-area="Admin" asp-controller="Home" asp-action="Index">
        Admin area
    </a>
    <li class="nav-item">
        <a class="nav-link" asp-area="admin" asp-controller="WorkoutRoutines" asp-action="Index">
            Routines
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="admin" asp-controller="AppUsers">Users</a>
    </li>
</ul>