@model BLL.App.DTO.WorkoutRoutine

<a data-toggle="modal" data-target="#modalId-@Model.Id" asp-action="Delete" asp-route-id="@Model.Id">
    <i class="fas fa-trash delete text-danger"></i>
</a>

<div class="modal fade" id="modalId-@Model.Id" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center text-danger" id="deleteModalLabel">Are you sure you wish to premanently delete this?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>@Model.Name</h4>
                <p class="text-secondary">@Model.Description</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                <form asp-action="Delete">
                    <input type="hidden" asp-for="@Model.Id"/>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>