@model WorkoutRoutineCreateEditViewModel

@{
    ViewData["Title"] = "Create new base routine";
}

<div class="jumbotron shadow rounded pb-1">
    <h1>CREATE A NEW BASE ROUTINE</h1>
    <p class="text-muted">
        Create a new routine template with specified name and type. <br/>
        Don't forget to add a nice description that users can understand!
    </p>
    <hr/>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form asp-action="Create">
                <partial name="_CreateEditPartial"/>                                
            </form>
        </div>
    </div>
    <hr/>
    <a class="btn btn-link mx-1" asp-action="Index" title="Back to workout routines list">BACK TO LIST</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}