@using Resources.Views.WorkoutRoutine
@model WorkoutRoutineCreateEditViewModel

@{
    ViewData["Title"] = "Edit base routine";
}

<div class="jumbotron shadow rounded pb-1">
    <h1 class="text-uppercase">@Edit.Title</h1>
    <p class="text-muted">@Edit.SubText</p>
    <hr/>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form asp-action="Edit">
                <input type="hidden" asp-for="WorkoutRoutine.Id"/>
                <input type="hidden" asp-for="EstonianTranslation.Id"/>
                <input type="hidden" asp-for="EnglishTranslation.Id"/>
                <partial name="_CreateEditPartial"/>
            </form>
        </div>
    </div>
    <hr/>
    <a class="btn btn-link text-uppercase mx-1" asp-action="Index" title="Back to workout routines list">@Edit.BackToList</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}