@model WorkoutRoutineCreateEditViewModel

@{
    ViewData["Title"] = "Edit base routine";
}

<div class="jumbotron shadow rounded pb-1">
    <h4>EDIT BASE ROUTINE</h4>
    <hr/>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form asp-action="Edit">
                <input type="hidden" asp-for="WorkoutRoutine.Id"/>
                <partial name="_CreateEditPartial"/>
            </form>
        </div>
    </div>
    <hr/>
        <a class="btn btn-link mx-1" asp-action="Index">BACK TO LIST</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
