@model Domain.BodyMeasurement

@{
    ViewData["Title"] = "Details";
}

<h1>@Resources.Views.BodyMeasurements.Details.Title</h1>

<div>
    <partial name="_DetailsDeletePartial"/>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">@Resources.Views.BodyMeasurements.Details.Edit</a> |
    <a asp-action="Index">@Resources.Views.BodyMeasurements.Edit.BackToList</a>
</div>
