@model BodyMeasurementCreateEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>@Resources.Views.BodyMeasurements.Edit.Title</h1>

<h4>@Resources.Views.BodyMeasurements.Edit.BodyMeasurement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="BodyMeasurement.Id"/>
            <partial name="_CreateEditPartial"/>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Resources.Views.BodyMeasurements.Edit.BackToList</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
