@model WebApplication.Areas.Admin.ViewModels.ExerciseSetCreateEditViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Exercise set</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <partial name="_LiftCreateEditPartial"/>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@Model.ExerciseSet.TrainingDayId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
