@model WebApplication.Areas.Admin.ViewModels.ExerciseSetCreateEditViewModel 

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TrainingDay</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <partial name="_LiftCreateEditPartial"/>
            <input type="hidden" asp-for="@Model.ExerciseSet.Id" />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@Model.ExerciseSet.TrainingDayId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
